@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans'), local('JosefinSans'), url(https://fonts.gstatic.com/s/josefinsans/v9/xgzbb53t8j-Mo-vYa23n5ugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Josefin Sans Bold'), local('JosefinSans-Bold'), url(https://fonts.gstatic.com/s/josefinsans/v9/C6HYlRF50SGJq1XyXj04z3NuWYKPzoeKl5tYj8yhly0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


body {
	background-color: #e5e5e5;
	color: #444444;
	padding-top: 50px;
	font-size: 18px;
	font-family: 'Josefin Sans';
}

#intro-text {
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
}

.box-container {
	padding-left: 150px;
}

.sqr {
	height: 100px;
	width: 100px;
	float: left;
}

#sqr-1 {
	border-right: 5px solid #00a175;
	border-bottom: 5px solid #00a175;
}

#sqr-2 {
	border-bottom: 5px solid #00a175;
}

#sqr-3 {
	border-left: 5px solid #00a175;
	border-bottom: 5px solid #00a175;
}

#sqr-4 {
	border-right: 5px solid #00a175;
}

#sqr-6 {
	border-left: 5px solid #00a175;
}

#sqr-7 {
	border-top: 5px solid #00a175;
	border-right: 5px solid #00a175;
}

#sqr-8 {
	border-top: 5px solid #00a175;
}

#sqr-9 {
	border-left: 5px solid #00a175;
	border-top: 5px solid #00a175;
}

#sqr-4, #sqr-7 {
	clear: both;
}

.xo-spans {
	font-size: 50px;
	font-weight: bold;
	display: inline-block;
	width: 100%;
	line-height: 100px;
	text-align: center;
}

#btn-container {
	margin-top: 50px;
	text-align: center;
}

#new-btn {
	background-color: #fff;
	border: 2px solid #000;
	border-radius: 5px;
	padding: 10px 50px 10px 50px;
	font-weight: bold;
	color: #00a175;
} 